@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #000300;
}

.item {
  min-height: 40rem;
  width: 30rem;
  padding: 40px;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  background: #ffd906;
}

.inner-carousel {
  display: flex;
}

.photography{
  -webkit-column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 3;
  column-width: 3;
  padding: 0 12px;
}

.photography .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.photography .pics:hover{
  filter: opacity(.8);
}

@media (max-width: 991px){
  .photography {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px){
  .photography {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

